:root {
  --brand-gray-num-1: #f1f1f1;
  --brand-gray-num-2: #d4d4d4;
  --brand-gray-num-3: #e0e0e0;
  --text-black-num-1: #333333;
  --text-black-num-2: #444444;
  --text-black-num-3: #666666;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 0.5rem 1.5rem;
  width: 100%;
}
.header--small_device {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--small_device .burger_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1/1;
  background-color: var(--brand-gray-num-1);
  border-radius: 50%;
  cursor: pointer;
}
.header--big_device {
  display: none;
  width: 100%;
  max-width: 84rem;
  align-items: center;
  justify-content: space-between;
}
.header--big_device .logo {
  width: 130px;
  transition: opacity 0.3s;
}
.header--big_device .logo:hover {
  opacity: 0.7;
}
.header--big_device .logo a {
  display: block;
}
.header--big_device .logo a img {
  width: 100%;
}
.header--big_device .big_device--menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header--big_device .big_device--menu a {
  text-decoration: none;
  font-family: "Work Sans";
  font-size: 0.9rem;
  color: var(--text-black-num-1);
  transition: color 0.3s, opacity 0.3s;
}
.header--big_device .big_device--menu a:hover {
  color: var(--text-black-num-3);
  opacity: 0.7;
}
.header--big_device .big_device--menu .big__device--clone__btn {
  background: transparent;
  border: none;
  border: 1.5px solid var(--brand-gray-num-2);
  width: auto;
  border-radius: 5px;
  font-size: 0.9rem;
  color: var(--text-black-num-1);
  padding: 0.75rem 0;
  line-height: 1.5rem;
  font-family: "Work Sans";
  padding: 12px 24px;
  transition: background-color 0.3s;
}
.header--big_device .big_device--menu .big__device--clone__btn:hover {
  background-color: var(--brand-gray-num-3);
}

.menu {
  height: 0;
  overflow-y: hidden;
  width: 100%;
}
.menu--links {
  color: var(--text-black-num-1);
  text-decoration: none;
  font-family: "Work Sans";
  font-size: 1.125rem;
  font-weight: 400;
  display: block;
  padding-left: 1.5rem;
  padding-block: 1.3rem;
  border-top: 1px solid var(--brand-gray-num-1);
}
.menu .cloneBtn__container {
  padding: 1.3rem;
  border-block: 1px solid var(--brand-gray-num-1);
}
.menu--clone__btn {
  background: transparent;
  border: none;
  border: 1.5px solid var(--brand-gray-num-2);
  width: 100%;
  border-radius: 5px;
  font-size: 0.9rem;
  color: var(--text-black-num-1);
  padding: 0.75rem 0;
  line-height: 1.5rem;
  font-family: "Work Sans";
  padding: 12px 24px;
  transition: background-color 0.3s;
}
.menu--clone__btn:hover {
  background-color: var(--brand-gray-num-3);
}

@media (min-width: 650px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media (min-width: 991px) {
  .header--small_device {
    display: none;
  }
  .header--big_device {
    display: flex;
  }
  .menu {
    height: 0 !important;
  }
  .header {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.content--container {
  width: 100%;
}

.section_1 {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_1 > div {
  position: relative;
  padding: 2rem 1.5rem;
  width: 100%;
  max-width: 84rem;
  display: flex;
  justify-items: center;
  align-items: start;
  flex-direction: column;
}
.section_1 > div > * {
  z-index: 2;
}
.section_1--header {
  font-size: calc(0.75rem + 9vw);
  font-family: "Work Sans", "sans-serif";
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.15em;
  color: var(--text-black-num-1);
  margin-bottom: 1rem;
}
.section_1--prag {
  font-family: "Inter", "sans-serif";
  line-height: 1.5rem;
  color: var(--text-black-num-2);
  margin-bottom: 3.5rem;
}
.section_1--link {
  color: var(--text-black-num-1);
  background-color: rgba(255, 255, 255, 0);
  -webkit-text-decoration: underline 1px var(--text-black-num-1);
          text-decoration: underline 1px var(--text-black-num-1);
  font-weight: 500;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", "sans-serif";
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.section_1--link img {
  width: 12px;
  height: 12px;
}
.section_1--image {
  width: 100%;
  max-width: 750px;
}
.section_1--image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  aspect-ratio: 8/5;
  opacity: 0.8;
}

@media (min-width: 480px) {
  .section_1 > div {
    padding: 3rem 1.5rem;
  }
  .section_1--header {
    font-size: 3rem;
  }
  .section_1--image {
    position: absolute;
    width: 50%;
    aspect-ratio: unset;
    right: 0;
    bottom: 0;
    z-index: 1 !important;
  }
  .section_1--image img {
    aspect-ratio: 1/1;
  }
}
@media (min-width: 768px) {
  .section_1 > div {
    padding: 3rem 2rem;
  }
  .section_1--header {
    font-size: 4rem;
  }
  .section_1--prag {
    max-width: 36rem;
    margin-bottom: 9.5rem;
  }
  .section_1--image img {
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .section_1 > div {
    padding: 3rem 2rem;
  }
  .section_1--header {
    font-size: calc(5rem + 3vh);
    line-height: 1.05em;
  }
  .section_1--prag {
    max-width: 34rem;
    line-height: 1.5em;
    font-size: 1.125rem;
    margin-bottom: 13rem;
  }
  .section_1--link {
    font-size: 1.3rem;
    gap: 5px;
    text-underline-offset: 5px;
  }
  .section_1--link img {
    width: 15px;
    height: 15px;
  }
  .section_1--image {
    width: 40%;
  }
}
.section_2 {
  font-family: Inter, sans-serif;
  padding: 6rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
.section_2--textContainer {
  max-width: 42rem;
}
.section_2 > div {
  padding: 0 1.7rem;
  max-width: 84rem;
}
.section_2--title {
  color: var(--text-black-num-3);
  line-height: 1.4em;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.section_2--header {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.3em;
  color: var(--text-black-num-1);
}
.section_2--prag {
  line-height: 1.5rem;
  color: var(--text-black-num-2);
  margin-bottom: 2.3rem;
}
.section_2--link {
  color: var(--text-black-num-1);
  background-color: rgba(255, 255, 255, 0);
  -webkit-text-decoration: underline 1px var(--text-black-num-1);
          text-decoration: underline 1px var(--text-black-num-1);
  font-weight: 500;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", "sans-serif";
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.section_2--link img {
  width: 12px;
  height: 12px;
}
.section_2--cardContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}
.section_2 .card_lg {
  padding: 1rem;
  background-image: url(../public/home-page/back_of_plane_sm.avif);
  background-position: center;
  background-size: cover;
  position: relative;
}
.section_2 .card_lg .card--image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
.section_2 .card_lg > div {
  display: flex;
  flex-direction: column;
  gap: 70vw;
}
.section_2 .card_lg .card--header {
  font-size: 1.65rem;
  font-weight: 500;
  color: var(--text-black-num-1);
}
.section_2 .card_lg .card--header + div {
  padding: 1rem;
  border-radius: 1rem;
  background: var(--brand-gray-num-1);
}
.section_2 .card_sm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section_2 .card_sm .card--image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_2 .card_sm .card--image + div {
  padding: 1.5rem;
}
.section_2 .card {
  font-family: Inter, sans-serif;
  border-radius: 1rem;
  overflow: hidden;
}
.section_2 .card > div {
  z-index: 1;
}
.section_2 .card--title {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3em;
  color: var(--text-black-num-1);
}
.section_2 .card--prag {
  line-height: 1.3em;
  color: var(--text-black-num-2);
  font-size: 0.875rem;
  text-align: justify;
}

.card_sm_1 {
  background: var(--brand-gray-num-1);
}

.card_sm_2 {
  background: #010002;
}
.card_sm_2 .card--title {
  color: #ffffff;
}
.card_sm_2 .card--prag {
  color: #bbbbbb;
}

@media (min-width: 520px) {
  .section_2--cardContainer {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
  }
  .section_2 .card_lg {
    padding: 2rem 1.5rem;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .section_2 .card_lg .card--header {
    font-size: 2rem;
  }
  .card_sm_1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .card_sm_2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media (min-width: 768px) {
  .section_2 .card_lg .card--header + div {
    padding: 1.5rem;
  }
  .section_2 .card_lg .card--title {
    font-size: 1.25rem;
  }
  .section_2 .card_lg .card--prag {
    font-size: 1rem;
  }
  .section_2 .card_lg > div {
    gap: 22rem;
  }
  .section_2 > div {
    padding: 1.5rem 2rem;
  }
  .section_2 .card--prag {
    font-size: 1rem;
  }
  .section_2--header {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .section_2--cardContainer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section_2 .card_lg {
    height: 100%;
    padding: 3rem 2.5rem;
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .section_2 .card_lg > div {
    height: 100%;
    justify-content: space-between;
  }
  .section_2 .card_lg .card--header {
    font-size: 2.25rem;
  }
  .section_2 .card_lg .card--title {
    font-size: 1.75rem;
  }
  .card_sm_1 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .card_sm_2 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .section_2 > div {
    padding: 3rem 2rem;
  }
  .section_2--header {
    font-size: 2.5rem;
  }
  .section_2--prag {
    font-size: 1.125rem;
    line-height: 1.5em;
  }
  .section_2--link {
    font-size: 1.3rem;
    gap: 5px;
    text-underline-offset: 5px;
  }
  .section_2--link img {
    width: 15px;
    height: 15px;
  }
}
.section_3 {
  position: relative;
  font-family: Inter, sans-serif;
  padding: 4rem 1.5rem;
  display: flex;
  min-height: 60vh;
  justify-content: center;
  align-items: center;
}
.section_3 > div {
  max-width: 68rem;
}
.section_3--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
  filter: brightness(30%);
}
.section_3--prag {
  font-size: calc(2.5vw + 1rem);
  color: #ffffff;
  letter-spacing: 0.005em;
  font-weight: 300;
  line-height: 1.25em;
}
.section_3--prag::-moz-selection {
  background: black;
  color: rgb(209, 209, 209);
}
.section_3--prag::selection {
  background: black;
  color: rgb(209, 209, 209);
}
.section_3--prag::first-letter {
  margin-left: 3rem;
}

@media (min-width: 479px) {
  .section_3 {
    padding: 6rem 3rem;
  }
  .section_3--prag {
    font-size: calc(2vw + 1.5rem);
  }
}
@media (min-width: 992px) {
  .section_3 {
    min-height: 100vh;
    padding: 8rem 5rem;
  }
  .section_3--prag {
    font-size: 3.5rem;
  }
}
.section_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  font-family: Inter, sans-serif;
  overflow: hidden;
}
.section_4--textContainer {
  padding: 0 1.5rem;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 900px;
  overflow: hidden;
  font-weight: 500;
  gap: 1.5rem;
}
.section_4--header {
  font-size: 1.75rem;
  color: var(--text-black-num-1);
  line-height: 1.3em;
}
.section_4--prag {
  line-height: 1.5rem;
  color: var(--text-black-num-2);
  font-weight: 400;
}
.section_4--link {
  color: var(--text-black-num-1);
  background-color: rgba(255, 255, 255, 0);
  -webkit-text-decoration: underline 1px var(--text-black-num-1);
          text-decoration: underline 1px var(--text-black-num-1);
  font-weight: 500;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", "sans-serif";
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.section_4--link img {
  width: 12px;
  height: 12px;
}
.section_4--imageContainer {
  display: flex;
  width: 150%;
  gap: 15px;
}
.section_4--imageContainer .images {
  width: 40%;
  height: 100%;
}
.section_4--imageContainer .images img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  aspect-ratio: 2/3;
}

@media (min-width: 479px) {
  .section_4--textContainer {
    gap: 2rem;
  }
}
@media (min-width: 600px) {
  .section_4--imageContainer .images img {
    max-height: 400px;
    aspect-ratio: 3/2;
  }
}
@media (min-width: 992px) {
  .section_4 {
    padding: 8rem 0;
  }
  .section_4--textContainer {
    padding: 0 2rem;
  }
  .section_4--header {
    font-size: 2rem;
  }
  .section_4--prag {
    font-size: 1.125rem;
    line-height: 1.5em;
  }
}